body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.colunas {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.coluna1 {
    width: 35%;
    background-color: #ffeedd;
    color: #657b8b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coluna2 {
    width: 65%;
    background-color: #657b8b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative; 
}

.blocofoto {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.foto {
    height: 250px;
    width: 150px;
    border-radius: 5%;
    box-shadow: 5px 5px 10px #c6af98;
}

.nome {
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

.titulo2 {
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
}

.titulo4 {
    font-size: 20px;
    color: #657b8b;
    background-color: #ffeedd;
    border: 2px solid #dbbea2;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    width: 300px;
}

.colunasAB {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 100px;
}

.colunaA {
    width: auto;
}

.colunaB {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    margin: 0;
    padding: 20px;
    border: 2px dotted rgb(156, 239, 212);
}

.items2 {
    text-align: center;
    list-style: none;
    padding: 0;
}

.items2 img {
    margin: 10px;
}

.programas {
    font-size: 22px;
    color: #ffeedd;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
    color: #ffeedd;
    margin-left: 20px;
}

li {
    font-size: 20px;
    color: rgb(156, 239, 212);
    margin-left: 20px;
}

.tituloV {
    font-size: 16px;
    color: #657b8b;
    background-color: #ffeedd;
    border: 2px solid #dbbea2;
    text-align: center;
    padding: 10px;
    margin: 30px auto;
    width: 250px;
}

a {
    text-decoration: none;
}


.botao-voltar {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #ffeedd;
    color: #657b8b;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.botao-voltar:hover {
    background-color: #dbbea2;
}